#nav-top{
	border-radius: 0;
	margin-bottom: 0;
}
.content-padding{
	padding:60px 50px;
}
.top-main-div{
	padding: 140px 35px 160px;
	position: relative;
}
.main-heading{
	color: #fff;
	position: relative;
}
.overlay{
	background: rgba(0,0,0,0.7);
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
.contact-us{
	background: #f5f5f5;
}
.contact-us input, .contact-us textarea{
	border-radius: 0;
	border: 1px solid #000;
}
.contact-us button{
	border-radius: 0;
	border: 1px solid #000;
	background: #fff;
}
.contact-us button:hover{
	background: #000;
	color:#fff;
}