#nav-top{
	border-radius: 0;
	margin-bottom: 0;
}
.content-padding{
	padding:60px 50px;
}
.top-main-div{
	padding: 140px 35px 160px;
	position: relative;
}
.main-heading{
	color: #fff;
	position: relative;
}
.overlay{
	background: rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
.contact-us{
	background: #f5f5f5;
}
.contact-us input, .contact-us textarea{
	border-radius: 0;
	border: 1px solid #000;
}
.contact-us button{
	border-radius: 0;
	border: 1px solid #000;
	background: #fff;
}
.contact-us button:hover{
	background: #000;
	color:#fff;
}
.footer{
	background-color: #444;
	padding: 40px;
	color: #fff;
}
.footer-inner p{
	display: inline;
}
.footer-inner a{
	color: #fff;
	padding:10px;
}
.section-heading{
	text-transform: uppercase;
	margin-bottom: 5%;
}
.thumbnail{
	border-radius: 0;
}
.portfolio{
	background: #333;
	color:#fff;
}
.mix-buttons{
	margin-bottom: 2%;
}
.control{
	color: #000;
	border-radius: 0;
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.thumbnail {
  position: relative;
  margin-bottom: 10px;
  z-index: 1;
}



.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay-portfolio{
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #444;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
	opacity: 0.2;
}

.thumbnail:hover .overlay-portfolio  {
  width: 100%;
}
.text{
	white-space: nowrap;
	font-size: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 12;
}